<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WhatToPlay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WhatToPlay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WhatToPlay.Properties.Settings>
            <setting name="SteamUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamAPIKey" serializeAs="String">
                <value>58374643F2C83693030C1C9AF51ADEBF</value>
            </setting>
            <setting name="SentryFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="EncryptedPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldIncludeThisAccount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldShowOfflineUsers" serializeAs="String">
                <value>False</value>
            </setting>
        </WhatToPlay.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WhatToPlay.Properties.Settings>
            <setting name="SteamCallbackManagerPeriod" serializeAs="String">
                <value>00:00:01</value>
            </setting>
        </WhatToPlay.Properties.Settings>
    </applicationSettings>
</configuration>